/* ==========================
         FOOTER
========================== */

.footer{

    width:100%;

    background:#020617;

    border-top:1px solid rgba(255,255,255,.08);

    margin-top:100px;

}

.footer .container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    flex-wrap:wrap;

    gap:20px;

    padding:30px 0;

}

.footer p{

    color:#94a3b8;

    font-size:15px;

}

.footer-links{

    display:flex;

    align-items:center;

    gap:25px;

}

.footer-links a{

    color:#cbd5e1;

    transition:.3s;

}

.footer-links a:hover{

    color:#3b82f6;

}

.social-icons{

    display:flex;

    gap:18px;

}

.social-icons a{

    width:45px;

    height:45px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:rgba(255,255,255,.08);

    color:white;

    transition:.3s;

}

.social-icons a:hover{

    background:#2563eb;

    transform:translateY(-5px);

    box-shadow:0 10px 25px rgba(37,99,235,.35);

}

.copyright{

    width:100%;

    text-align:center;

    padding:18px 0;

    border-top:1px solid rgba(255,255,255,.08);

    color:#64748b;

    font-size:14px;

}