/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #020817;
  color: #ffffff;
  overflow-x: hidden;
}

/* Root */

#root {
  width: 100%;
  min-height: 100vh;
}

/* App */

.app {
  min-height: 100vh;
  width: 100%;
}

/* Container */

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

/* Sections */

section {
  padding: 90px 0;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* List */

ul {
  list-style: none;
}

/* Buttons */

button {
  cursor: pointer;
  border: none;
  outline: none;
  font-family: inherit;
}

/* Headings */

h1 {
  font-size: 4rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  color: #cbd5e1;
  line-height: 1.8;
}

/* Primary Button */

.primary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #2563eb;
  color: white;
  padding: 16px 32px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.primary-btn:hover {
  background: #1d4ed8;
  transform: translateY(-3px);
}

/* Secondary Button */

.secondary-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: transparent;
  border: 2px solid #2563eb;
  color: white;
  padding: 16px 32px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: #2563eb;
}

/* Glass Effect */

.glass {
  background: rgba(255,255,255,.08);
  backdrop-filter: blur(18px);
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 20px;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}