/* ==========================
         HERO SECTION
========================== */

.hero{
    min-height:100vh;
    display:flex;
    align-items:center;
    padding-top:90px;
}

.hero-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
}

/* Left */

.hero-left{
    flex:1;
}

.hero-left h1{
    font-size:4rem;
    font-weight:700;
    line-height:1.2;
    margin-bottom:25px;
}

.hero-left h1 span{
    color:#3b82f6;
}

.hero-left p{
    max-width:650px;
    font-size:18px;
    color:#cbd5e1;
    margin-bottom:40px;
}

.hero-btn{
    padding:16px 38px;
    background:#2563eb;
    color:white;
    font-size:17px;
    font-weight:600;
    border-radius:12px;
    transition:.3s ease;
}

.hero-btn:hover{
    background:#1d4ed8;
    transform:translateY(-3px);
    box-shadow:0 10px 30px rgba(37,99,235,.4);
}

/* Right */

.hero-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-right img{
    width:100%;
    max-width:550px;
    animation:float 5s ease-in-out infinite;
    filter:drop-shadow(0 20px 35px rgba(37,99,235,.35));
}

/* Floating Animation */

@keyframes float{

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-18px);
    }

    100%{
        transform:translateY(0px);
    }

}

/* Hero Glow */

.hero::before{

    content:"";

    position:absolute;

    width:450px;
    height:450px;

    background:#2563eb;

    filter:blur(180px);

    opacity:.15;

    top:120px;
    right:50px;

    z-index:-1;

}

/* Hero Content Animation */

.hero-left{

    animation:fadeLeft 1s ease;

}

.hero-right{

    animation:fadeRight 1s ease;

}

@keyframes fadeLeft{

    from{

        opacity:0;
        transform:translateX(-60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}

@keyframes fadeRight{

    from{

        opacity:0;
        transform:translateX(60px);

    }

    to{

        opacity:1;
        transform:translateX(0);

    }

}