/* ==========================
      LARGE TABLETS
========================== */

@media (max-width:1200px){

.hero-left h1{
    font-size:3.3rem;
}

.hero-right img{
    max-width:450px;
}

}

/* ==========================
        TABLETS
========================== */

@media (max-width:992px){

.nav-container{
    flex-direction:column;
    height:auto;
    padding:18px 0;
}

.nav-links{
    margin:18px 0;
    gap:22px;
    flex-wrap:wrap;
    justify-content:center;
}

.hero-container{
    flex-direction:column-reverse;
    text-align:center;
}

.hero-left h1{
    font-size:3rem;
}

.hero-left p{
    margin:auto;
    margin-bottom:35px;
}

.hero-right img{
    max-width:420px;
}

.upload-box{
    padding:30px;
}

.result-grid{
    grid-template-columns:repeat(2,1fr);
}

.footer .container{
    flex-direction:column;
    text-align:center;
}

}

/* ==========================
        MOBILE
========================== */

@media (max-width:768px){

section{
    padding:70px 0;
}

.container{
    width:94%;
}

.hero{
    padding-top:130px;
}

.hero-left h1{
    font-size:2.4rem;
}

.hero-left p{
    font-size:16px;
}

.hero-btn{
    width:100%;
}

.upload-box{
    padding:22px;
}

.upload-box h2{
    font-size:1.6rem;
}

.upload-area{
    min-height:260px;
}

.upload-icon{
    font-size:60px;
}

.search-btn{
    width:100%;
    justify-content:center;
}

.result-grid{
    grid-template-columns:1fr;
}

.logo h2{
    font-size:1.2rem;
}

.nav-links{
    gap:15px;
}

.status-btn{
    width:100%;
    justify-content:center;
}

.footer{
    margin-top:60px;
}

}

/* ==========================
      SMALL MOBILE
========================== */

@media (max-width:480px){

.hero-left h1{
    font-size:2rem;
}

.hero-left p{
    font-size:15px;
}

.logo img{
    width:42px;
}

.logo h2{
    font-size:1rem;
}

.upload-area p{
    font-size:17px;
}

.upload-area span{
    font-size:13px;
}

.result-card img{
    height:180px;
}

.footer p{
    font-size:13px;
}

}